body {
    background-color: #a8a4a4;
}

.header-styles {
    color: #FF5E19;
    font-size: 3.5rem;
    font-family: 'Berkshire Swash', cursive;
}

.bg-black {
    background-color: #000000;
}

.btn-deepblue {
    background-color: #015196;
}

.gray-border {
    border: 1px solid #c5c1c1;
}

.height-33 {
    height: 33.33%;
}

li::marker {
    font-size: larger;
    font-weight: bold;
}